// --------------------------------------------------
// Headings
// --------------------------------------------------

.navbar-shrink #site-header .top-bar {
  padding: 5px 10px;
  height: 60px;
  .logo svg {
    height: 30px;
    margin-top: 10px;
  }
  .top-bar-right  {
    margin-top: 5px;
  }
}

#site-header {
  background-color: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 992 !important;
  box-shadow: 0 1px 30px 1px rgba(0,0,0,.3);
  border-bottom: 5px solid $secondary-color;
  .burger {
    padding: 0.5em 0.5em 0.6em 0.5em;
    background-color: $primary-color;
    border-radius: 3px;
  }
  .top-bar {
    background-color: $white;
    height: 80px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 14px;
    transition: all .3s;
    .logo svg {
      height: 35px;
      margin-top: 5px;
      margin-left: -15px;
      @include breakpoint(medium) {
        height: 40px;
        margin-top: 0;
        margin-left: -10px;
      }
    }
    .title-bar-right {
      margin-top: 5px;
    }
    .top-bar-right {
      background-color: $primary-color;
      a {
        color: $white;
      }
      @include breakpoint(medium) {
        background-color: transparent;
        margin-top: 5px;
        a {
          color: $primary-color;
        }
      }
    }

    // &.navbar-shrink {
    //   padding: 5px 10px;
    //   height: 60px;
    //   .logo svg {
    //     height: 30px;
    //     margin-top: 10px;
    //   }
    //   .top-bar-right  {
    //     margin-top: 5px;
    //   }
    // }

    #responsive-menu {
      li {
        padding: 0 1em;
      }
      a {
        transition: color 0.3s;
        text-shadow: none;
        padding: 10px;
        position: relative;
        &:hover,
        &:active,
        &:focus,
        &.active {
          color: $secondary-color;
        }
        @include breakpoint(medium) {
          &:before, &:after {
          	position: absolute;
          	left: 0;
          	width: 100%;
          	height: 2px;
          	background: $secondary-color;
          	content: '';
          	opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
          	transform: translateY(-10px);
          }
          &:before {
            top: 0;
          	transform: translateY(-10px);
          }
          &:after {
            bottom: 0;
          	transform: translateY(10px);
          }
          &:hover,
          &:active,
          &:focus,
          &.active {
            &:before,
            &:after {
            	opacity: 1;
            	transform: translateY(0px);
            }
          }
        }
      }
    }
  }
  #responsive-menu {
    &.is-open {
      display: block !important;
      .top-bar-right {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .top-bar ul li a,
  .submenu .top-bar ul li a,
  .menuitem .dropdown-pane {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 600;
  }
}


#site-header {
  z-index: 992 !important;
}

.no-inlinesvg .logo {
  svg {
    display: none;
  }
  background-image: url(../img/logo.png);
}

.cl-effect-21 a {
	padding: 10px;
	color: #237546;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #fff;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


#site-header .dropdown-pane {
  display: none;
  width: 100%;
  left: 0% !important;
  right: 0% !important;
  &.open {
    visibility: visible;
  }
}
