// --------------------------------------------------
// Links
// --------------------------------------------------

.more,
.marker-more {
  text-align: center;
  padding: 3rem 0;
  a {
    border: 1px solid $medium-gray;
    padding: 1em 2em;
    color: $dark-gray;
  }
}
