

<article itemscope itemtype="http://schema.org/BlogPosting" class="infinite-item" id="{{ post.title }}">
	<h3><span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span></h3>
	<h4>{{ post.subtitle }}</h4>
		<div class="article-picture">
			{% if post.cover %}
				{% include image.html
					src=post.cover
					alt=post.title
					link=post.url
				%}
			{% endif %}
		</div>
		<div class="article-body">
			<aside class="article-meta">
				<p class="text-center">
					<span class="meta-date"><span class="show-for-sr">Article publié le :</span>&nbsp;
					{% include components/date.html date_full=post.date %}
					</span>
					<span class="meta-comment">
						<span class="show-for-sr">Commentaires :</span>
						<span class="disqus-comment-count" data-disqus-url="{{ site.baseurl }}{{ post.url }}"> <!-- Count will be inserted here --> </span>
					</span>
				</p>
				<p class="text-center">
					{% include components/meta_category.html cat_list=post.category %}
					{{ category_content }}
					{% include components/meta_tag.html tag_list=post.tags %}
					{{ tag_content }}
				</p>
			</aside>

			<div class="article-description">
				<p>{{ post.description | strip_html | truncatewords:120 }}</p>

			</div>

			<div class="more"><a href="{{ site.baseurl }}{{ post.url }}">Lire l'article</a></div>

		</div>

</article>
