
<form name="sentMessage" id="contactForm">
    <div class="row">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Votre Nom *" name="name" id="name" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Votre Email *" name="email" id="email" required>
        </div>
        <div class="form-group">
            <input type="tel" class="form-control" placeholder="Votre n° de Téléphone *" name="phone" id="phone" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" placeholder="Votre Message *" name="message" id="message" required></textarea>
        </div>
        <input class="hidden" type="text" name="_gotcha">
        <input type="hidden" name="_subject" value="Contact Planitude.fr">

        <div class="text-center">
            <div id="success"></div>
            <input type="submit" class="button" value="Envoyer le Message">
        </div>

    </div>
</form>
