<!-- <aside class="callout clearfix" id="aside-footer">
  <ul class="row">
    <li class="icon-burger column large-5">
      Titre de la page > Intro <a href="#"><span class="hide">=</span></a>
      <ul class="vertical menu dropdown">
        <li><a href="#">Titre</a></li>
        <li><a href="#">Transport</a></li>
        <li><a href="#">Ville</a></li>
        <li><a href="#">Commentaires</a></li>
      </ul>
    </li>
    <li class="icon-share column large-2 text-center">
      <a href="#"><span class="hide">Partager</span></a>
      <ul class="vertical menu dropdown">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Google Plus</a></li>
      </ul>
    </li>
    <li class="icon-top- column large-5 text-right">
      <a href="#top" class="icon-list"><span class="hide">Liste</span></a>
      <a href="#top" class="icon-top"><span class="hide">Haut de page</span></a>
    </li>
  </ul>
</aside> -->
<!-- /aside-footer -->
