
{% if page.coordinates %}

<div class="map-dyn invisible">
   <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
   <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet' />
  <div id='map'></div>
</div>

<div class="map-wrapper">
  <a data-zoom="{% if page.zoom %}{{ page.zoom }}{% else %}9{% endif %}" data-location="{{ site.page.locations }}" data-coordonates="{% for coordinate in page.coordinates limit:1 %}{{ coordinate }}{% endfor %}" class="display-map">
  <span class="invisible">display map</span></a>
</div>


<style>

@media screen and (max-width: 39.9375em) {
  .map-wrapper {
    background-image: url("http://api.tiles.mapbox.com/v4/{{ site.mapbox.mapid }}/pin-l-building+607d8b({% for coordinate in page.coordinates limit:1 %}{{ coordinate }}{% endfor %})/{% for coordinate in page.coordinates limit:1 %}{{ coordinate }}{% endfor %},{% if page.zoom %}{{ page.zoom }}{% else %}9{% endif %}/640x300.png?access_token={{ site.mapbox.maptoken }}");
 } }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .map-wrapper {
    background-image: url("http://api.tiles.mapbox.com/v4/{{ site.mapbox.mapid }}/pin-l-building+607d8b({% for coordinate in page.coordinates limit:1 %}{{ coordinate }}{% endfor %})/{% for coordinate in page.coordinates limit:1 %}{{ coordinate }}{% endfor %},{% if page.zoom %}{{ page.zoom }}{% else %}9{% endif %}/1024x300.png?access_token={{ site.mapbox.maptoken }}");
} }

@media screen and (min-width: 64em) {
  .map-wrapper {
    background-image: url("http://api.tiles.mapbox.com/v4/{{ site.mapbox.mapid }}/pin-l-building+607d8b({% for coordinate in page.coordinates limit:1 %}{{ coordinate }}{% endfor %})/{% for coordinate in page.coordinates limit:1 %}{{ coordinate }}{% endfor %},{% if page.zoom %}{{ page.zoom }}{% else %}9{% endif %}/1280x300.png?access_token={{ site.mapbox.maptoken }}");
} }
</style>

{% endif %}
