


<div class="top-bar">

  <div class="top-bar-title logo">

    <a href="/">{% include components/logo.svg %}</a>

    <div class="title-bar-right show-for-small-only">
      <button class="burger"><span class="menu-icon" type="button"></span></button>
    </div>

  </div>

  <!-- <div class="top-bar-right">
    <ul class="menu horizontal">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div> -->

  <div id="responsive-menu" class="show-for-medium">
    <div class="top-bar-right">
      <ul class="menu vertical medium-horizontal">
        <li><a href="/a-propos/presentation/">A propos</a></li>
        <li><a href="/blog"><span>Blog</span></a></li>
        <li><a href="/photos">Photos</a></li>
      </ul>
    </div>
  </div>

</div>
