---
layout: default
---

<main id="site-body" class="page">

  <article itemscope itemtype="http://schema.org/BlogPosting">

    {% include components/header_page.html %}

    <!-- <div class="row parallax-content article-main">
      <div class="small-12 medium-8 large-8-12"> -->
      <div class="section content-main">
        <div class="section-inner">

          <div class="article-body" itemprop="articleBody">

            {{ content }}

          </div>
          <!-- /article-body -->

      </div>
      <!-- /columns -->
    </div>
    <!-- /row -->

  </article>

</main>
<!-- /site-body -->
